*{
    margin: 0;
}

.container {
    
    background-color: red;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: beige;
}

#noBtn {
    position: absolute;
   /*  top: 100%;
    left: 100%;
    transform: translate(-100%, -100%); */
}

p{
    font-size: xx-large;
    
}

button {
    
    padding: 20px;
    font-size: large;
    margin-right: 20px;
}